
h1{
  text-align: center;
  padding: 5px;
  margin-top: 15%;
}
label{margin: 40px;
padding: 00px;
}
h1{
  padding: 1px;
  margin: 10Px;
}
body{  
   width: 100vw;
   height: 100vh;

}
button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(32deg, #df65b6, #bf58ee, #d80c0c, #070818);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(32deg, #df65b6, #bf58ee, #d80c0c, #070818);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
  
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, #df65b6, #bf58ee, #d80c0c, #070818);
}
 
