.botaoroberto {
    display: flex;
    margin: auto;
   
    text-align: center;
    flex-direction: column-reverse;
  
  }
  H1{
    text-align: center;
    padding: 5px;
  margin-top: 3%;
  }

  main {
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    margin: 2%;
    padding: 5px;
  }